body {
  margin: 0;
  font-family: system-ui;
  background: black;
  color: #e6eef6;

  overscroll-behavior: none;
  touch-action: none;
}

body, html {
  height: 100%;
}

.app {
  padding: 18px;
  padding-bottom: 0;
  height: 97%;

  background: black;
}

header {
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 18px;
  margin-right: 24px;
}

header .fullscreen-icon {
  cursor: pointer;
}

header .page-buttons {
  flex-grow: 2;
}

header .page-btn {
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  background: #233041;
  color: #eee;
  font-size: 12px;
  cursor: pointer
}

header .page-btn.active {
  background: #a70000;
  color: #fff
}

/* .mute-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 10px;
} */


.mixer {
  height: 90%;

  display: grid;
  column-gap: 4px;
  grid-template-columns: repeat(16, minmax(48px, 1fr));

}

.fader {
  display: none;
  /* display: flex; */

  width: 100%;
  flex-direction: column;

  background: #071827;
}

.colorbar {
  background: gray;
  width: 100%;
  height: 6px;
  border-radius: 10px 10px 0 0;
  opacity: 0.9
}

.colorbar.bottom {
  background: gray;
  width: 100%;
  height: 6px;
  border-radius: 0 0 10px 10px;
  opacity: 0.9
}

.fader-name-input {
  margin-top: 6px;
  font-size: 13px;
  color: #fff;
  background: transparent;
  border: none;
  text-align: center;
  width: 90%;
  border-bottom: 1px solid #334;
  padding: 2px 4px
}

.fader-name-input:focus {
  outline: none;
  border-bottom: 1px solid #DDD;
}

.fine-tune {
  display: flex;
  flex-direction: row;
}

.fine-tune button {
  flex-grow: 1;
  background-color: transparent;
  /* margin-top: 12px; */
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: -8px;  
  border-radius: 6px;
  border: none;
  color: #eee;
  font-size: 12px;
  cursor: pointer
}

.fine-tune .minus-btn {
  margin-left: 8px;
}
.fine-tune .plus-btn {
  margin-right: 8px;
}

.db-value-indicator {
  font-size: 14px;
  margin-top: 12px;
  color: #cfe8ff;
  /* min-height: 20px */
  width: 90%;
  text-align: center;
  user-select: none;
}

.fader-line {
  position: relative;
  user-select: none;
  margin-top: 12px;

  width: 100%;
  height: 100%;
}

.fader-container {
  display: flex;

  width: 100%;
  height: 100%;

  /* position: relative;
  z-index: 3;

  top: 0;
  left: 0; */
}

.fader-mouse-overlay {
  position: absolute;

  /* background-color: rgba(255,0,0,0.3); */

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  z-index: 5;

  cursor: pointer;
}

.fader-left-gap {
  flex-grow: 2;
}

.fader-slide {
  width: 8px;
  height: 100%;
  border-radius: 10px;
  background: black;

  flex-grow: 0;
}

.fader-knob {
  position: relative;

  width: 24px;
  height: 52px; /* factor: 2.167660806748611 */
  margin-left: -8px;
  margin-top: -26px;

  pointer-events: none;

  z-index: 3;
}

.fader-right-ticks {
  flex-grow: 1;
  pointer-events: none;
}

.fader-tick {
  z-index: 0;
  box-sizing: border-box;

  position: relative;
  /* left: calc(50% + 10px); */
  width: 18px;
  height: 1px;
  background: #5a6a80;
  /* border-radius: 1px */
  margin-top: -1px;
}

.fader-tick::after {
  /* content: "0"; */
  font-size: 10px;
  color: #5a6a80;
  margin-left: 4px;
  position: absolute;
  left: 100%;
  top: -6px;
}

.fader-tick.db12::after {
  content: "12";
}
.fader-tick.db6::after {
  content: "6";
}
.fader-tick.db-6::after {
  content: "-6";
}
.fader-tick.db-12::after {
  content: "-12";
}
.fader-tick.db-24::after {
  content: "-24";
}
.fader-tick.db-48::after {
  content: "-48";
}
.fader-tick.db-60::after {
  content: "-60";
}
.fader-tick.db-80::after {
  content: "-80";
}

.fader-tick:first-child {
  margin-top: 0;
}

.fader-tick:last-child {
  display: none;
}

.marker0 {
  z-index: 1;
  position: relative;
  /* left: calc(50% + 14px); */
  width: 28px;
  height: 2px;
  background: #1e90ff;
  border-radius: 1px;
  margin-top: -1px;
}

.marker0::after {
  content: "0 dB";
  font-size: 11px;
  color: #1e90ff;
  margin-left: 4px;
  position: absolute;
  left: 100%;
  top: -6px;
}

.secondary-function {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  width: 90%;
  left: 5%;
  position: relative;
  user-select: none;
}

.sec-container {
  position: relative;
  width: 100%;

  user-select: none;

  margin-bottom: 8px;
}

.sec-slide {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: black;
  overflow: hidden;
}

.sec-slide-indicator {
  position: relative;
  top: 0;
  left: 0;

  width: 50%;
  height: 6px;

  background-color: #1e90ff;
}

.sec-mouse-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  /* background-color: rgba(255,0,0,0.3); */

  cursor: pointer;
}

.sec-value-indicator {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;

  font-size: 12px;

  user-select: none;
}

.mute-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  background: #233041;
  color: #eee;
  font-size: 12px;
  cursor: pointer
}

.mute-btn.active {
  background: #a70000;
  color: #fff
}
